* {
    box-sizing: border-box;
}

body {
    color: #D5D5D5;
    background-color: black;
}

div {
    padding: 30px;
}

h1.nevem {
    display: inline;
    text-align: center;
}

h1 {
    color: white;
}

h1, h2 {
    text-align: center;
}

h3 {
    font-size: 24px;
    text-align: center;
}

img {
    border-radius: 15px;
    width: 16%;
    height: auto;
}

a {
    padding: 10px;
    border-radius: 25px;
    background-color: #D5D5D5;
    color: black;
    text-align: center;
}

    a:hover {
        background-color: #4CF90C;
    }

#szadatok, #munka, #vege {
    text-align: left;
    background-color: #4D4E4D;
}

#tanulmanyok, #listak {
    text-align: left;
    background-color: #D5D5D5;
    color: #4D4E4D;
}

#listak {
    display: flex;
    color: #D5D5D5;
    justify-content: space-around;
    flex-direction: column;
}

#el, #ma {
    background-color: #4D4E4D;
    padding: 5px;
    margin: 20px;
}

span.dolt {
    font-style: italic;
}

span.fel {
    font-weight: bold;
}

.masodik {
    font-style: italic;
}

#fejlec {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#link {
    display: flex;
    justify-content: center;
}

    #link a {
        text-decoration: none;
        color: black;
        align-items: center;
    }

@media screen and (min-width: 655px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: auto;
    }

    #listak {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    #vege {
        order: -1;
    }

    #el, #ma {
        background-color: #4D4E4D;
        padding: 30px;
        margin: 20px;
    }

    .infokrolam {
        display: flex;
        text-align: left;
        justify-content: center;
        flex-wrap: wrap;
    }
}